<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prog2.eurotravelplanner" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FacebookInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Destinos"
            android:label="@string/title_activity_destinos" >
        </activity>

        <activity
            android:name=".Opciones"
            android:label="@string/title_activity_opciones" >
        </activity>

        <activity
            android:name=".subdiviciones_opciones"
            android:label="@string/title_activity_subdiviciones_opciones" >
        </activity>

        <activity
            android:name=".DatosGenerales"
            android:label="@string/title_activity_datosGenerales" >
        </activity>

        <activity
            android:name=".CalculadoraPopUp"
            android:label="@string/title_activity_calculadora"
            android:theme="@style/AppTheme.CustomTheme" >
        </activity>

        <activity
            android:name=".gallery"
            android:label="@string/title_activity_gallery" >
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

    </application>

</manifest>
